<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-5">Feteched Data</h1>

        <!-- 顯示轉換後的HTML表格 -->
        {{ table_html|safe }}

        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Menu</a>
        </div>
    </div>
</body>

</html>
